/*
MENUBAR
 */
.search {
  border: 1px solid rgba(227,227,227,1);
  border-radius: 20px;
  margin: 0 auto 30px auto;
  width: 90%;
  background: url('http://i47.tinypic.com/r02vbq.png') right no-repeat;
  background-size: contain;
  color: rgba(227,227,227,1);
}

.search:hover {
  background-color: rgba(46, 46, 46, 1);
}

.search:focus {
  background-color: rgba(35,35,35,1);
}

.off-canvas {
  background-color: rgba(35,35,35,1);
}

.off-canvas-content {

}

.accordion {
  background-color: rgba(35,35,35,1);
}

.accordion-title {
  border: none !important;
  font-size: 18px;
  margin: 1px auto;
}

.accordion-title:link,
:visited {
  background-color: rgba(46, 46, 46, 1);
  color: rgba(227,227,227,1);
}

.accordion-title:hover {
  background-color: rgba(240,82,19,1);
  color: rgba(35,35,35,1);
}

.accordion-title:focus {
  background-color: rgba(240,82,19,1);
  color: rgba(35,35,35,1);
}

.accordion-content {
  border: none !important;
  background-color: rgba(35,35,35,1);
  padding: 15px 0 1px 30px;
}

.accordion-content > a:link,
:visited {
  color: rgba(227,227,227,1);
}

.accordion-content > a:hover {
  color: rgba(240,82,19,1);
}

/*
CONTENT
*/
body {
  background-color: rgba(227,227,227,1);
}

.horiz-line {
  border: 1px solid rgba(35,35,35,1);
}

.titlebar {
  background-color: rgba(46, 46, 46, 1);
  height: 50px;
}
