/*
MENUBAR
 */
.search {
  font-family: 'Lato', sans-serif;
  border: 1px solid #E6E6E6;
  border-radius: 20px;
  margin: 0 auto 30px auto;
  width: 90%;
  background: url('http://i47.tinypic.com/r02vbq.png') right no-repeat;
  background-size: contain;
  color: #E6E6E6;
}

.search:hover {
  background-color: #333;
}

.search:focus {
  background-color: #232323;
}

.off-canvas {
  background-color: #232323;
}

.off-canvas-content {

}

.accordion {
  font-family: 'Lato', sans-serif;
  background-color: #232323;
}

.accordion-title {
  border: none !important;
  font-size: 18px;
  margin: 1px auto;
}

.accordion-title:link,
:visited {
  background-color: #333;
  color: #FFF;
}

.accordion-title:hover {
  background-color: #F05213;
  color: #232323;
}

.accordion-title:focus {
  background-color: #F05213;
  color: #232323;
}

.accordion-content {
  border: none !important;
  background-color: #222;
  padding: 15px 0 1px 30px;
  font-size: 16px;
}

.accordion-content > a:link,
:visited {
  color: #FFF;
}

.accordion-content > a:hover {
  color: #F05213;
}

/*
CONTENT
*/
body {
  background-color: #E6E6E6;
}

.horiz-line {
  border: 1px solid #232323;
}

.titlebar {
  background-color: #333;
  height: 50px;
}
