/* EZL STYLE GUIDE
*  light = rgba(227, 227, 227, 1)
*  medium = rgba(158, 158, 158, 1)
*  medium-dark = rgba(46, 46, 46, 1) = extra color used for tables
*  dark = rgba(35, 35, 35, 1)
*  orange = rgba(240, 82, 19, 1)
*/

.row {
  max-width: 62%;
}

@media only screen and (max-width: 40em) {
  .row {
  max-width: 100%;
}
}

.light {
  color: rgba(227, 227, 227, 1);
}

body {
  font-size: 16px;
  line-height: 25.875px;
  font-family: "mf-nexa-227102";
  color: rgba(158, 158, 158, 1);
  background-color: rgba(227, 227, 227, 1);
}

p {
  margin-bottom: 25px;
  line-height: 1.4em;
}

blockquote {
  text-align: center;
  font-size: 1.2em;
  line-height: 1.4em;
  color: rgba(35, 35, 35, 1);
}

h1 {
  font-size: 3em;
  line-height: 1.4em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(35, 35, 35, 1);
  text-align: center;
}

h2 {
  font-size: 2.4em;
  line-height: 1.4em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(35, 35, 35, 1);
  text-align: center;
}

h3 {
  font-family: "mf-nexa-227099";
  font-size: 1.2em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(35, 35, 35, 1);
  text-align: left;
}

div.three-col-gallery {
  width: auto;
  text-align: center;
  margin: 0 auto;
}

div.three-col-gallery:before {
  content: "";
  display: table;
}

div.three-col-gallery:after {
  content: "";
  display: table;
  clear: both;
}

img.three-col-gallery {
  width: 30%;
  float: left;
  margin: 1.666%;
}

ol {
  margin: 10px 20px;
  padding: 10px 20px;
}

ul {
  font-family: "mf-nexa-227095";
  color: rgba(35, 35, 35, 1);
}

li {
  color: rgba(158, 158, 158, 1);
  text-transform: uppercase;
  letter-spacing: 1px;
}

a {
  color: rgba(35, 35, 35, 1);
}

a a {
  text-decoration: none;
}

strong {
  font-family: "mf-nexa-227099";
  color: rgba(35, 35, 35, 1);
}

section {
  margin: 0 auto;
  text-align: center;
  width: auto;
}

section.dark {
  background-color: rgba(35, 35, 35, 1);
  color: rgba(158, 158, 158, 1);
  padding: 2em;
}

/******************************** MENUBAR ********************************/
.menu-content-separate {
  height: 120px;
}

.nav-container {
  position: fixed;
  width: 100%;
  height: 120px;
  background: rgba(35, 35, 35, 1);
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(35, 35, 35, 1);
  width: 100px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
}

.logo {
  position: absolute;
  top: -20px;
}

.logo a img {
  height: 10em;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  right:0;
}

nav ul li {
  float: left;
  position: relative;
  text-align: right;
}

nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 120px;
  background: rgba(35, 35, 35, 1);
  color: rgba(227, 227, 227, 1);
  text-decoration: none;
}

nav ul li a:hover,
nav ul li a:visited:hover,
nav ul li a:focus {
  background: rgba(240, 82, 19, 1);
  color: rgba(35, 35, 35, 1);
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}

nav ul li ul li {
  width: 100%;
}

nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

#nav-toggle {
  position: absolute;
  left: 35px;
  top: 55px;
  cursor: pointer;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: rgba(227, 227, 227, 1);
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

@media only screen and (min-width : 768px) {
  .nav-list {
    display: block !important;
  }
}

@media only screen and (max-width: 768px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 120px 0;
  }

  nav ul {
    display: none;
  }

  nav ul li {
    float: none;
    text-align: left;
  }

  nav ul li a {
    padding: 15px 30px;
    line-height: 20px;
  }

  nav ul li ul li a {
    padding: 15px 45px;
  }

  .nav-dropdown {
    position: static;
  }
}

/******************************** SEARCH BAR ********************************/
.search {
  position: absolute;
  border: 1px solid rgba(227,227,227,1);
  border-radius: 20px;
  width: 32%;
  margin: 30px 12em;
  background: url('http://i47.tinypic.com/r02vbq.png') right no-repeat;
  background-size: contain;
  color: rgba(227,227,227,1);
  text-align: center;
}

.search:hover {
  background-color: rgba(46, 46, 46, 1);
}

.search:focus {
  background-color: rgba(35,35,35,1);
}

/******************************** CONTENT ********************************/

.horiz-line {
  border: 1px solid rgba(35,35,35,1);
}
