/* EZL STYLE GUIDE - DO NOT CHANGE SETTINGS BELOW THIS LINE! ADD NEW CODE AT END!!
*  light = rgba(227, 227, 227, 1)
*  medium = rgba(158, 158, 158, 1)
*  medium-dark = rgba(46, 46, 46, 1) = extra color used for tables
*  dark = rgba(35, 35, 35, 1)
*  orange = rgba(240, 82, 19, 1)
*/

.row {
  max-width: 62%;
}

@media only screen and (max-width: 40em) {
  .row {
  max-width: 100%;
  text-align: center;
}
}

.light {
  color: rgba(227, 227, 227, 1);
}

body {
  font-size: 16px;
  line-height: 25.875px;
  font-family: "mf-nexa-227102";
  color: rgba(158, 158, 158, 1);
  background-color: rgba(227, 227, 227, 1);
}

p {
  margin-bottom: 25px;
  line-height: 1.4em;
}

blockquote {
  text-align: center;
  font-size: 1.2em;
  line-height: 1.4em;
  color: rgba(35, 35, 35, 1);
}

h1 {
  font-size: 3em;
  line-height: 1.4em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(35, 35, 35, 1);
  text-align: center;
}

h2 {
  font-size: 2.4em;
  line-height: 1.4em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(35, 35, 35, 1);
  text-align: center;
}

h3 {
  font-family: "mf-nexa-227099";
  font-size: 1.2em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(35, 35, 35, 1);
  text-align: left;
}

div.three-col-gallery {
  width: auto;
  text-align: center;
  margin: 0 auto;
}

div.three-col-gallery:before {
  content: "";
  display: table;
}

div.three-col-gallery:after {
  content: "";
  display: table;
  clear: both;
}

img.three-col-gallery {
  width: 30%;
  float: left;
  margin: 1.666%;
}

ol {
  margin: 10px 20px;
  padding: 10px 20px;
}

ul {
  margin: 10px 20px;
  padding: 10px 20px;
  font-family: "mf-nexa-227095";
  color: rgba(35, 35, 35, 1);
}

li {
  color: rgba(158, 158, 158, 1);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.6em;
}

a {
  color: rgba(35, 35, 35, 1);
}

a a {
  text-decoration: none;
}

strong {
  font-family: "mf-nexa-227099";
  color: rgba(35, 35, 35, 1);
}

section {
  margin: 0 auto;
  text-align: center;
  width: auto;
}

section.dark {
  background-color: rgba(35, 35, 35, 1);
  color: rgba(158, 158, 158, 1);
  padding: 2em;
}

/* ******************************* TOPBAR ******************************* */

.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }
}

.logo {
  height: 100px;
}

.top-bar-right {
    margin-top: 40px;
}

.top-bar,
.top-bar ul,
.top-bar a {
  padding: 0 15px;
  background-color: rgba(35, 35, 35, 1);
  color: rgba(227, 227, 227, 1);
  font-family: "mf-nexa-227099";
  font-size: .9em;
}

.title-bar {
  background-color: rgba(35, 35, 35, 1);
  color: rgba(227, 227, 227, 1);
  font-family: "mf-nexa-227099";
}

ul .menu {
  border: 1px solid rgba(227, 227, 227, 1);
  padding: 0;
  font-size: .5em;
}

/* ******************************* TABLES ******************************* */

.horiz-scroll {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  letter-spacing: 1px;
  text-align: center;
}

table thead, table tbody {
  border: none;
}

table thead th {
  text-align: center;
  background-color: rgba(227, 227, 227, 1) !important;
}

tbody tr:nth-child(even) {
  background-color: rgba(35, 35, 35, 1) !important;
}

tbody tr:nth-child(odd) {
  background-color: rgba(46, 46, 46, 1);
}

tbody tr:hover {
  background-color: rgba(227, 227, 227, 1) !important;
}

td a {
  color: rgba(158, 158, 158, 1);
}

td a:hover,
td a:focus {
  color: rgba(240, 82, 19, 1);
}

td, li a.button {
  margin: 0 auto;
  color: rgba(227, 227, 227, 1);
  background-color: rgba(158, 158, 158, 1);
}

td, li a.button:hover {
  background-color: rgba(240, 82, 19, 1);
}

td a.button:focus {
  background-color: rgba(240, 82, 19, 1);
}


/* ******************************* NEW CODE ******************************* */

/* ******************************* General ******************************* */

/* ******************************* Header ******************************* */

/* ******************************* Home ******************************* */

/* ******************************* News ******************************* */

/* ******************************* Fantasy ******************************* */

/* ******************************* Roster ******************************* */

/* ******************************* Sponsors ******************************* */

/* ******************************* Apply ******************************* */

/* ******************************* Profile ******************************* */

/* --- User Profile --- */

/* --- Player Stats --- */

/* --- Dashboard -- (styles will be defined in ./dashboard/css/dashboard.css) --- */

/* --- Settings --- */

/* --- Logout --- */

/* ******************************* Footer ******************************* */

footer {
  color: rgba(35, 35, 35, 1);
  background-color: rgba(158, 158, 158, 1);
}

/* ******************************* Responsive ******************************* */

@media only screen  and (min-width : 400px)

@media only screen  and (min-width : 768px)

@media only screen  and (min-width : 1224px)
