* {
  margin: 0;
  padding: 0;
  border-sizing: border-box;
}

nav {
  background-color: #f8f8f8;
  height: 50px;
  border: 1px solid #e7e7e7;
  #logo {
    margin: 5px;
  }
  .menu {
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    li {
      list-style-type: none;
      display: inline;
      padding: 20px;
      font-weight: 400;
    }
  }
}

.vainglory {
  margin: 10px 0;
  @extend .box-bg;
}

.box {
  margin: 40px auto;
  width: 90%;
  border-radius: 10px;
  @extend .box-bg;
}

.box-bg {
  border: 1px solid #e3e3e3;
  background-color: #f5f5f5;
  text-align: center;
  font-size: 36px;
  height: 85px;
}

.vert-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.stats {
  text-align: center;
}

.stats-box {
	vertical-align: middle;
  display: inline-block;
  height: 245px;
  width: 28%;
  margin: 0 1%;
  background-color: #f5f5f5;
}

table {
	width: 100%;
}

table, th, td {
  border: 1px solid #e3e3e3;
  border-collapse: collapse;
	padding: 10px;
}

#left {
	text-align: left;	
	padding: 15px;
}

.horiz-line {
  margin: 40px 0;
  border: 1px solid #eeeeee;
}

a:link,
:visited {
  text-decoration: none;
  color: #777777;
}

a:hover {
  color: #5fbcd6;
}

